
h1
{
  color: gray;
}
h2
{
  font-style: italic;
  color: maroon;
}
p
{
  color: crimson;
}
body
{
  background-color:white;
  font-family: sans-serif;
  text-align: center;

}
.intro,.author
{
  font-style: italic;

}
.author
{
  color: yellow;

}
